.parent-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #6495ED;
}

.child-tag{
  width: 20%;
  background-color: #4169E1;
  border-radius: 6px;
}

.button-upload {
  /* Reset OS-specfic / browser-specific default style (see https://ishadeed.com/article/styling-the-good-old-button/#the-default-styles) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #4169E1; /* to be replaced with your custom design */
  border: 2px dashed white; /* to be replaced with your custom design */
  /* Signify interactivity */
  border-radius: 12px; /* no physical button has a sharp corner; exact value to be replaced for your custom design */
  cursor: pointer;
  /* Match font style with the parent element */
  font: inherit;
  /* Make the button easy for touchscreen users to tap */
  min-height: 48px;
  min-width: 48px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
  width: 90%;
}
.button-upload:focus {
  outline-offset: 4px; /* make Chrome show a focus ring around the button */
}

.logo{
  margin: 20px;
}

.text{
  margin: 20px;
  padding-bottom: 20px;
}

.document{
  color: white;
  text-align: left;
  margin: 10px;
  padding-left: 18px;
  margin-bottom: 0;
}
.control{
  border: 2px solid white;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}